common --enable_platform_specific_config

common:linux --copt=-std=c++20
common:linux --copt=-fdiagnostics-color=always
common:linux --copt=-Wall --copt=-Wextra --copt=-Wpedantic --copt=-Werror

common:macos --config=linux

common:windows --copt=/std:c++20
common:windows --copt=/W4 --copt=/WX
